# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.c#_beginner.iml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
